include ../templates/mixins/m-heading

-
	list = [
		{
			name: 'Виктор',
			launch: 'Launch x431 pro 7 pad v 2023',
			descr: 'Все быстро отправили, всегда на связи, помогли все настроить. Продавца рекомендую',
			data: '12 июля'
		},
		{
			name: 'Александр Яковлев',
			launch: 'Лаунч про 7 PAD VIP ultimate',
			descr: 'заказ пришел в хорошей упаковки полностью укомплектованный, даже раньше назначенного срока. Спасибо большое. РЕКОМЕНДУЮ',
			data: '9 июля'
		},
		{
			name: 'Игорь',
			launch: 'Launch X431 PRO5 оригинал / лаунч х431 + hynespro',
			descr: 'Отличный продавец, на все вопросы ответил, помог определиться с выбором. Заказ отправили в день оплаты. Получил, проверил работает как надо. Продавец всегда на связи, на вопросы отвечает быстро.',
			data: '12 июля'
		},
		{
			name: 'Кирилл',
			launch: 'Лаунч про 7 PAD VIP ultimate',
			descr: 'пришло всё вовремя комплект хороший.',
			data: '7 июля'
		},
		{
			name: 'Александр',
			launch: 'Launch x431 PRO5s / лаунч х431 + hynespro',
			descr: 'Продавец общительный, рассказал все о комплектациях, помог с выбором. Отправил быстро. Получил лаунч, проверил, все работает исправно. Рекомендую 👍',
			data: '11 июля'
		},
		{
			name: 'Евгений',
			launch: 'Launch X431 HD BOX грузовые + легковые',
			descr: 'Сделка состоялась. Всё пришло в целости. Продавец всегда на связи, отвечает на вопросы.',
			data: '7 июля'
		},
	]

section.section.avito
	.section_in.avito__in
		+picture({
			img: `avito/avito.png`,
			class: 'avito__img_w',
			img_class: 'avito__img',
			alt: 'some image',
		})
		+heading({
			title: 'Рейтинг 5,0 на основании 1 068 оценок',
			link_title: 'Посмотреть больше живых отзывов',
		})
		.avito__slider_w.js-mobile-slider-wrapper
			+slider_navigation('avito__nav_arrow')
			.avito__slider.js-mobile-slider
				each item, index in list
					.avito__item
						.avito__item_in
							.avito__item_row
								+picture({
									img: `avito/${index}.png`,
									class: 'avito__item_img_w',
									img_class: 'avito__item_img',
									alt: 'some image',
								})
								.avito__item_name= item.name

							.avito__item_row
								.avito__item_rating
									+loop_while(5)
										.avito__item_star
											+icon('star', 'icon--size_mod')

							.avito__item_row
								.avito__item_launch= item.launch

							.avito__item_row
								.avito__item_descr= item.descr

							.avito__item_row
								.avito__item_data= item.data

